{% load static %}

<link href="{% static 'vendor/css/card_products.css' %}" rel="stylesheet">

<html>

<body>
  <main>
    <div class="card">
      <div class="card__title">
        <div class="icon">
          <a href="#"><i class="fa fa-arrow-left"></i></a>
        </div>
        <h3>My store Product</h3>
      </div>
      <div class="card__body">
          <div class="half">
          <div class="featured_text">
            <h1>{{product.name}}</h1><br>
            <p class="price">{{product.price}} руб.</p>
          </div>
          <div class="image">
            <img src="{{product.image.url}}" alt="">
          </div>
        </div>
        <div class="half">
          <div class="description">
            <p>{{product.description}}</p>
          </div>
          {% if product.quantity > 0 %}
            <span class="stock_green"><i class="fa fa-pen"></i> Есть в наличии ({{product.quantity}})</span>
          {% else %}
            <span class="stock_red"><i class="fa fa-pen"></i> Нет в наличии</span>
          {% endif %}<br>
          {% if messages %}
            {% for message in messages %}
              <p>{{ message }}</p>
            {% endfor %}
          {% endif %}
        </div>
      </div>
      <div class="card__footer">
        <div class="recommend">
          <p>Recommended by</p>
          <h3>Sergey Kovalevsky</h3>
        </div>
        <div class="btn-toolbar">
          <div class="action">
              <form action="{% if product.quantity > 0 %} {% url 'products:basket_add' product.id %} {% else %} #
              {% endif %}">
              <button type="submit">
                  Добавить в корзину
              </button>
            </form>
          </div>
          <div class="action">
            <form action="{% url 'products:index' %}">
              <button type="submit">
                  Вернуться назад
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>

</html>