<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
{% if orders %}
    {% for order in orders %}
        <ul>
            Заказ № {{order.id}}:
            <li> ФИО: {{order.full_name}}</li>
            <li> Email: {{order.email}}</li>
            <li> Адрес: {{order.address}}</li>
            <li> Город: {{order.city}}</li>
            <li> Индекс: {{order.index}}</li>
            <li>Товары:</li>
            {% for product in order.products %}
                <ul>
                    <li><strong>Продукт: {{ product.product_name }}</strong></li> <br>
                    <li>Цена: {{ product.product_price }} руб.</li> <br>
                    <li>Количество: {{ product.quantity }}</li> <br>
                </ul>
            {% endfor %}

            <strong>Итоговая стоимость:</strong> {{order.total_sum}} руб.
        </ul>
    {% endfor %}
{% else %}
    Заказов нет
{% endif %}
<a href="{% url 'products:index' %}">Вернуться на главную</a>
</body>
</html>